<a href="https://colab.research.google.com/github/SarahSchnei/practice/blob/master/BRDWIDatacleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:

import pandas as pd
import requests
import json

In [0]:
url ="https://data.brla.gov/resource/5rji-ddnu.json?offense=11:140" 
url2 ="https://data.brla.gov/resource/5rji-ddnu.json?offense=11:140&$offset=1000"
url3 ="https://data.brla.gov/resource/5rji-ddnu.json?offense=11:140&$offset=2000"
url4 ="https://data.brla.gov/resource/5rji-ddnu.json?offense=11:140&$offset=3000"
url5 ="https://data.brla.gov/resource/5rji-ddnu.json?offense=11:140&$offset=4000"
url6 ="https://data.brla.gov/resource/5rji-ddnu.json?offense=11:140&$offset=5000"
url7 ="https://data.brla.gov/resource/5rji-ddnu.json?offense=11:140&$offset=6000"
url8 ="https://data.brla.gov/resource/5rji-ddnu.json?offense=11:140&$offset=7000"
url9 ="https://data.brla.gov/resource/5rji-ddnu.json?offense=11:140&$offset=8000"

#### thia will onlt pull down 1000 records at a time so I'm trying to pull down the next 1000 every time

In [0]:
JSONContent = requests.get(url).json()
JSONContent2 = requests.get(url2).json()
JSONContent3 = requests.get(url3).json()
JSONContent4 = requests.get(url4).json()
JSONContent5 = requests.get(url5).json()
JSONContent6 = requests.get(url6).json()
JSONContent7 = requests.get(url7).json()
JSONContent8 = requests.get(url8).json()
JSONContent9 = requests.get(url9).json()

In [0]:
results = pd.DataFrame(JSONContent)
results2 = pd.DataFrame(JSONContent2)
results3 = pd.DataFrame(JSONContent3)
results4 = pd.DataFrame(JSONContent4)
results5 = pd.DataFrame(JSONContent5)
results6 = pd.DataFrame(JSONContent6)
results7 = pd.DataFrame(JSONContent7)
results8 = pd.DataFrame(JSONContent8)
results9 = pd.DataFrame(JSONContent9)

In [65]:
results9.shape

(193, 26)

In [0]:
frames = [results, results2, results3, results4, results5, results6, results7, results8, results9]
#### putting all results into one df

In [0]:
df = pd.concat(frames, ignore_index = True)

In [0]:
df.columns = ['a', 'address', 'city', 'b', 'c', 'crime', 'd', 'e', 'ID', 'geo', 
              'address', 'city', 'state', 'zip', '1', '5', 'date', 'desc', 'time', 'direct', 'streetname', 'num', 'type', 
              '2', '3', '4' ]

In [0]:
data = df.drop(columns = ['a', 'b', 'c', 'd', 'e', '1', '2', '3', '4', '5'], axis=0)

In [0]:
listoftime = []

for i in data['time']:
  line = i
  listoftime.append(line)
  
s = []

def f_comma(p_string, n=2):
    return ':'.join(p_string[i:i+n] for i in range(0, len(p_string), n))
for row in listoftime:
    line = f_comma(row)
    s.append(line)

In [0]:
from datetime import datetime, time
import datetime as dt


times_list = [dt.datetime.strptime(row, "%H:%M").strftime("%I:%M %p") for row in s]

In [0]:
data.at['time'] = [times_list]

In [0]:
from datetime import datetime, date

In [0]:
data['date'] = pd.to_datetime(data['date'],  errors='coerce')

In [0]:
data['year'] = pd.DatetimeIndex(data['date']).year

In [0]:
data['month'] = pd.DatetimeIndex(data['date']).month

In [0]:
data['day'] = pd.DatetimeIndex(data['date']).dayofweek

In [0]:
def weekend(day):
  if day >= 5:
    return 'weekend'
  else:
    return 'weekday'

In [0]:
data['weekend'] = data['day'].apply(weekend)

In [164]:
data['year'].value_counts()

#### 2013 had the most DWI with a pleasingly downwardtrend

2013.0    1333
2011.0    1164
2012.0    1139
2015.0     980
2014.0     928
2017.0     895
2016.0     875
2018.0     709
2019.0     170
Name: year, dtype: int64

In [0]:
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt

In [0]:
import folium ###good for plotting maps

In [199]:
data['month'].value_counts()

###march is the month with the most DWIs, perhaps because of St. Pattys?

3.0     937
2.0     802
8.0     726
7.0     715
4.0     707
6.0     690
1.0     675
5.0     663
12.0    629
9.0     616
11.0    581
10.0    452
Name: month, dtype: int64

In [195]:
BRcoordinates = (30.4515, -91.1871)

### this is what the geolocation data looks like, not sure what to do with it or if I should split it

data['geo']

0       {'type': 'Point', 'coordinates': [-91.164393, ...
1       {'type': 'Point', 'coordinates': [-91.072055, ...
2                                                     NaN
3       {'type': 'Point', 'coordinates': [-91.174898, ...
4       {'type': 'Point', 'coordinates': [-91.15283, 3...
5       {'type': 'Point', 'coordinates': [-91.140592, ...
6       {'type': 'Point', 'coordinates': [-91.109076, ...
7                                                     NaN
8       {'type': 'Point', 'coordinates': [-91.156437, ...
9       {'type': 'Point', 'coordinates': [-91.16094, 3...
10      {'type': 'Point', 'coordinates': [-91.144903, ...
11      {'type': 'Point', 'coordinates': [-91.143259, ...
12      {'type': 'Point', 'coordinates': [-91.18213, 3...
13      {'type': 'Point', 'coordinates': [-91.096601, ...
14                                                    NaN
15                                                    NaN
16      {'type': 'Point', 'coordinates': [-91.176102, ...
17      {'type': 'Point', 'coordinates': [-91.15548, 3...
18      {'type': 'Point', 'coordinates': [-91.162741, ...
19                                                    NaN
20      {'type': 'Point', 'coordinates': [-91.180016, ...
21                                                    NaN
22      {'type': 'Point', 'coordinates': [-91.172333, ...
23      {'type': 'Point', 'coordinates': [-91.153143, ...
24      {'type': 'Point', 'coordinates': [-91.19003, 3...
25      {'type': 'Point', 'coordinates': [-91.161296, ...
26      {'type': 'Point', 'coordinates': [-91.115981, ...
27      {'type': 'Point', 'coordinates': [-91.173382, ...
28      {'type': 'Point', 'coordinates': [-91.164764, ...
29                                                    NaN
                              ...
8164    {'type': 'Point', 'coordinates': [-91.167396, ...
8165    {'type': 'Point', 'coordinates': [-91.153762, ...
8166    {'type': 'Point', 'coordinates': [-91.051626, ...
8167    {'type': 'Point', 'coordinates': [-91.089867, ...
8168    {'type': 'Point', 'coordinates': [-91.137056, ...
8169    {'type': 'Point', 'coordinates': [-91.151552, ...
8170    {'type': 'Point', 'coordinates': [-91.186687, ...
8171    {'type': 'Point', 'coordinates': [-91.068704, ...
8172    {'type': 'Point', 'coordinates': [-91.129699, ...
8173    {'type': 'Point', 'coordinates': [-91.136075, ...
8174    {'type': 'Point', 'coordinates': [-91.051002, ...
8175    {'type': 'Point', 'coordinates': [-91.126626, ...
8176    {'type': 'Point', 'coordinates': [-91.143259, ...
8177                                                  NaN
8178    {'type': 'Point', 'coordinates': [-91.159429, ...
8179    {'type': 'Point', 'coordinates': [-91.110771, ...
8180    {'type': 'Point', 'coordinates': [-91.18049, 3...
8181    {'type': 'Point', 'coordinates': [-91.160351, ...
8182    {'type': 'Point', 'coordinates': [-91.160351, ...
8183                                                  NaN
8184    {'type': 'Point', 'coordinates': [-91.1043, 30...
8185    {'type': 'Point', 'coordinates': [-91.137811, ...
8186    {'type': 'Point', 'coordinates': [-91.150448, ...
8187    {'type': 'Point', 'coordinates': [-91.15954, 3...
8188                                                  NaN
8189    {'type': 'Point', 'coordinates': [-91.159712, ...
8190    {'type': 'Point', 'coordinates': [-91.151552, ...
8191    {'type': 'Point', 'coordinates': [-91.141491, ...
8192    {'type': 'Point', 'coordinates': [-91.162141, ...
time    [12:14 AM, 11:27 PM, 09:53 PM, 01:47 AM, 03:01...
Name: geo, Length: 8194, dtype: object

In [197]:
data.shape
### 8194 DWIs and 20 columns

(8194, 20)

In [198]:
data.head()

,address,city,crime,ID,geo,address,city,state,zip,date,desc,time,direct,streetname,num,type,year,month,day,weekend
0,300 N 23RD ST,BATON ROUGE,OTHER,1500103215,"{'type': 'Point', 'coordinates': [-91.164393, ...",300 N 23RD ST,BATON ROUGE,LA,70802,2015-10-18,D W I /CC,12:14 AM,N,23RD,300,ST,2015.0,10.0,6.0,weekend
1,10002 FLORIDA BL,BATON ROUGE,OTHER,1400081080,"{'type': 'Point', 'coordinates': [-91.072055, ...",10002 FLORIDA BL,BATON ROUGE,LA,NaN,2014-09-13,D W I /CC,11:27 PM,NaN,FLORIDA,10002,BL,2014.0,9.0,5.0,weekend
2,500 I-10 WEST @ DALRYMPLE OT,BATON ROUGE,OTHER,1300035317,NaN,500 I-10 WEST @ DALRYMPLE OT,BATON ROUGE,LA,70806,2013-04-27,D W I /CC,09:53 PM,NaN,I-10 WEST @ DALRYMPLE,500,OT,2013.0,4.0,5.0,weekend
3,4300 BURBANK DR,BATON ROUGE,OTHER,1400078076,"{'type': 'Point', 'coordinates': [-91.174898, ...",4300 BURBANK DR,BATON ROUGE,LA,NaN,2014-09-05,D W I /CC,01:47 AM,NaN,BURBANK,4300,DR,2014.0,9.0,4.0,weekday
4,3600 PERKINS RD,BATON ROUGE,OTHER,1300022109,"{'type': 'Point', 'coordinates': [-91.15283, 3...",3600 PERKINS RD,BATON ROUGE,LA,70808,2013-03-17,D W I /CC,03:01 AM,NaN,PERKINS,3600,RD,2013.0,3.0,6.0,weekend